/* Final CSS */
@import './header.css';
@import './hero.css';

:root {
  --clr-primary-dark: #2E323F;
  --clr-secondary-dark: #3B4050;
  --clr-grey: #6F737F;
  --clr-white: #FFFFFF;
  --clr-golden: #A59678;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  box-sizing: border-box;
  background-color: var(--clr-white);
  color: var(--clr-secondary-dark)
}

img {
  max-width: 100%;
}

ul,
li {
  list-style: none;
  margin: 0;
  padding: 0;
}

li a {
  text-decoration: none;
}

h1,
h2,
h3,
p {
  padding: 0;
  margin: 0;
}

button {
  cursor: pointer;
  border: 0;
}

.container {
  width: 85%;
  max-width: 1200px;
  margin: 0 auto;
  position: relative;
}

.btn {
  background-color: var(--clr-golden);
  padding: 0.3em 1em;
  border-radius: 100px;
  transition: transform 0.2s ease-in;
}

.btn:hover {
  background-color: var(--clr-white);
  color: var(--clr-golden);
  box-shadow: 0 2px 6px var(--clr-golden);
}

.btn:active {
  transform: translateY(1px);
}

@media (min-width:720px) {
  .row {
    display: flex;
    align-items: center;
    gap: 2.5rem;
  }
}

@media (min-width:1000px) {
  .btn {
    padding: 0.5em 1.5em;
  }
}