/* Final CSS */
:root {
  --clr-primary-dark: #2E323F;
  --clr-secondary-dark: #3B4050;
  --clr-grey: #6F737F;
  --clr-white: #FFFFFF;
  --clr-golden: #A59678;
}

section {
  background-color: var(--clr-primary-dark);
}